<div class="app-toolbar">
  @for (group of config().groups; track group.id) {
    <div class="app-toolbar__group" [attr.aria-label]="group.ariaLabel">
      @for (item of group.items; track item.id) {
        @switch (item.type) {
          @case ('button') {
            <app-button
              [ariaLabel]="item.ariaLabel ?? null"
              [disabled]="item.disabled ?? false"
              [icon]="item.icon ?? null"
              [label]="item.label"
              [size]="item.size ?? 'default'"
              [variant]="item.variant ?? 'secondary'"
              (click)="onButtonClick(item)"
            />
          }

          @case ('text') {
            <span class="app-toolbar__text">{{ item.label }}</span>
          }
        }
      }
    </div>
  }
</div>
